Repository lcacchiani/siutindei: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-cdk, flutter-analyze

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python formatting and linting with Ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  # Python type checking with mypy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        files: ^backend/src/
        additional_dependencies:
          - pydantic>=2.0
          - sqlalchemy>=2.0
          - types-boto3
        args: [--ignore-missing-imports]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
        exclude: '\.md$'
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-json
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: detect-private-key

  # TypeScript/JavaScript linting
  - repo: local
    hooks:
      - id: eslint-cdk
        name: ESLint CDK
        entry: bash -c 'cd backend/infrastructure && npm run lint --if-present || true'
        language: system
        files: ^backend/infrastructure/.*\.(ts|js)$
        pass_filenames: false

  # Flutter/Dart analysis
  - repo: local
    hooks:
      - id: flutter-analyze
        name: Flutter Analyze
        entry: bash -c 'cd apps/siutindei_app && flutter analyze --no-fatal-infos || true'
        language: system
        files: ^apps/siutindei_app/.*\.dart$
        pass_filenames: false

# Configuration for specific tools
ci:
  autofix_commit_msg: "style: auto-fix by pre-commit hooks"
  autoupdate_commit_msg: "chore: update pre-commit hooks"

feat: use standard /aws/lambda/ prefix for Lambda log groups
  backend/infrastructure/lib/api-stack.ts
  backend/infrastructure/lib/constructs/python-lambda.ts
  docs/architecture/aws-assets-map.md
Due: eslint-cdk

fix: use explicit bucket names for organization images buckets
  backend/infrastructure/lib/api-stack.ts
Due: eslint-cdk

chore: temporarily disable custom domains for initial deployment
  backend/infrastructure/params/production.json
Due: none

fix: add explicit DESTROY removal policy to Cognito User Pool
  backend/infrastructure/lib/api-stack.ts
Due: eslint-cdk

chore: rename org-images buckets to org-media
  backend/infrastructure/lib/api-stack.ts
Due: eslint-cdk

fix: use Lambda-compatible platform for psycopg binary wheels
  backend/scripts/build_lambda_bundle.py
Due: none

Add database audit logging with hybrid trigger/application approach
  backend/db/alembic/versions/0010_add_audit_logging.py
  backend/src/app/api/admin.py
  backend/src/app/db/__init__.py
  backend/src/app/db/audit.py
  backend/src/app/db/models.py
  docs/architecture/audit-logging.md
Due: none

Fix ruff formatting and mypy type annotations
  backend/db/alembic/versions/0010_add_audit_logging.py
  backend/src/app/db/audit.py
Due: none

Add GET /v1/admin/audit-logs endpoint for querying audit history
  backend/src/app/api/admin.py
  docs/architecture/audit-logging.md
Due: none

Add organization suggestions feature for public users
  backend/db/alembic/versions/0011_add_organization_suggestions.py
  backend/src/app/api/admin.py
  backend/src/app/db/models.py
  backend/src/app/db/repositories/__init__.py
  backend/src/app/db/repositories/suggestion.py
  docs/architecture/organization-suggestions.md
Due: none

fix: use ARM64 platform for Lambda wheels (manylinux2014_aarch64)
  backend/scripts/build_lambda_bundle.py
Due: none

fix: use compatible ARM64 wheels for Lambda
  backend/requirements.txt
  backend/scripts/build_lambda_bundle.py
Due: none

feat(siutindei_app): add app theme and constants for consistent styling
  apps/siutindei_app/lib/config/app_theme.dart
Due: flutter-analyze

feat(siutindei_app): enhance activity models with better filter support
  apps/siutindei_app/lib/models/activity_models.dart
Due: flutter-analyze

feat(siutindei_app): add reusable UI widgets for search and filtering
  apps/siutindei_app/lib/views/widgets/activity_card.dart
  apps/siutindei_app/lib/views/widgets/filter_chips.dart
  apps/siutindei_app/lib/views/widgets/search_filters_sheet.dart
  apps/siutindei_app/lib/views/widgets/widgets.dart
Due: flutter-analyze

feat(siutindei_app): add main screens for activity search experience
  apps/siutindei_app/lib/views/screens/activity_detail_screen.dart
  apps/siutindei_app/lib/views/screens/home_screen.dart
  apps/siutindei_app/lib/views/screens/organization_detail_screen.dart
Due: flutter-analyze

feat(siutindei_app): update main app with new theme and home screen
  apps/siutindei_app/lib/app.dart
Due: flutter-analyze

feat(siutindei_app): add theme system separating design from functionality
  apps/siutindei_app/lib/config/constants.dart
  apps/siutindei_app/lib/config/theme/README.md
  apps/siutindei_app/lib/config/theme/default_theme.dart
  apps/siutindei_app/lib/config/theme/siutindei_theme.dart
  apps/siutindei_app/lib/config/theme/theme.dart
  apps/siutindei_app/lib/config/theme/theme_provider.dart
Due: flutter-analyze

refactor(siutindei_app): convert app_theme.dart to compatibility layer
  apps/siutindei_app/lib/config/app_theme.dart
Due: flutter-analyze

refactor(siutindei_app): use theme provider in main app
  apps/siutindei_app/lib/app.dart
Due: flutter-analyze

feat(siutindei_app): add modular design token system
  apps/siutindei_app/lib/config/tokens/README.md
  apps/siutindei_app/lib/config/tokens/component_tokens.dart
  apps/siutindei_app/lib/config/tokens/primitive_tokens.dart
  apps/siutindei_app/lib/config/tokens/semantic_tokens.dart
  apps/siutindei_app/lib/config/tokens/token_registry.dart
  apps/siutindei_app/lib/config/tokens/tokens.dart
Due: flutter-analyze

feat(siutindei_app): add core module with token-aware base widgets
  apps/siutindei_app/lib/core/core.dart
  apps/siutindei_app/lib/core/widgets/base_avatar.dart
  apps/siutindei_app/lib/core/widgets/base_badge.dart
  apps/siutindei_app/lib/core/widgets/base_card.dart
  apps/siutindei_app/lib/core/widgets/token_aware_widget.dart
Due: flutter-analyze

feat(siutindei_app): add modular search feature with leaf token widgets
  apps/siutindei_app/lib/features/search/search.dart
  apps/siutindei_app/lib/features/search/widgets/activity_card.dart
  apps/siutindei_app/lib/features/search/widgets/filter_chip_bar.dart
  apps/siutindei_app/lib/features/search/widgets/search_filters_sheet.dart
Due: flutter-analyze

refactor(siutindei_app): use design token system for theming
  apps/siutindei_app/lib/app.dart
Due: flutter-analyze

refactor(siutindei_app): remove backward compatibility, use pure token system
  apps/siutindei_app/lib/app.dart
  apps/siutindei_app/lib/config/app_theme.dart
  apps/siutindei_app/lib/config/theme/README.md
  apps/siutindei_app/lib/config/theme/default_theme.dart
  apps/siutindei_app/lib/config/theme/siutindei_theme.dart
  apps/siutindei_app/lib/config/theme/theme.dart
  apps/siutindei_app/lib/config/theme/theme_provider.dart
  apps/siutindei_app/lib/features/activity_detail/activity_detail.dart
  apps/siutindei_app/lib/features/activity_detail/screens/activity_detail_screen.dart
  apps/siutindei_app/lib/features/auth/auth.dart
  apps/siutindei_app/lib/features/auth/screens/login_screen.dart
  apps/siutindei_app/lib/features/features.dart
  apps/siutindei_app/lib/features/organization/organization.dart
  apps/siutindei_app/lib/features/organization/screens/organization_screen.dart
  apps/siutindei_app/lib/features/search/screens/search_screen.dart
  apps/siutindei_app/lib/features/search/search.dart
  apps/siutindei_app/lib/views/screens/activities_screen.dart
  apps/siutindei_app/lib/views/screens/activity_detail_screen.dart
  apps/siutindei_app/lib/views/screens/login_screen.dart
  apps/siutindei_app/lib/views/screens/organization_detail_screen.dart
  apps/siutindei_app/lib/views/widgets/activity_card.dart
  apps/siutindei_app/lib/views/widgets/app_text_field.dart
  apps/siutindei_app/lib/views/widgets/filter_chips.dart
  apps/siutindei_app/lib/views/widgets/search_filters_sheet.dart
  apps/siutindei_app/lib/views/widgets/widgets.dart
Due: flutter-analyze

perf(siutindei_app): apply Flutter performance best practices
  apps/siutindei_app/lib/core/widgets/base_avatar.dart
  apps/siutindei_app/lib/core/widgets/base_badge.dart
  apps/siutindei_app/lib/core/widgets/base_card.dart
  apps/siutindei_app/lib/core/widgets/token_aware_widget.dart
  apps/siutindei_app/lib/features/search/screens/search_screen.dart
  apps/siutindei_app/lib/features/search/widgets/activity_card.dart
  apps/siutindei_app/lib/features/search/widgets/filter_chip_bar.dart
Due: flutter-analyze

refactor(siutindei_app): implement layered architecture per Flutter guidelines
  apps/siutindei_app/lib/core/core.dart
  apps/siutindei_app/lib/core/utils/command.dart
  apps/siutindei_app/lib/core/utils/result.dart
  apps/siutindei_app/lib/core/utils/utils.dart
  apps/siutindei_app/lib/data/data.dart
  apps/siutindei_app/lib/data/mappers/activity_mapper.dart
  apps/siutindei_app/lib/data/providers.dart
  apps/siutindei_app/lib/data/repositories/activity_repository_impl.dart
  apps/siutindei_app/lib/domain/domain.dart
  apps/siutindei_app/lib/domain/entities/activity.dart
  apps/siutindei_app/lib/domain/entities/entities.dart
  apps/siutindei_app/lib/domain/entities/search.dart
  apps/siutindei_app/lib/domain/repositories/activity_repository.dart
  apps/siutindei_app/lib/domain/repositories/repositories.dart
  apps/siutindei_app/lib/domain/use_cases/get_activity_use_case.dart
  apps/siutindei_app/lib/domain/use_cases/search_activities_use_case.dart
  apps/siutindei_app/lib/domain/use_cases/use_cases.dart
  apps/siutindei_app/lib/features/activity_detail/screens/activity_detail_screen.dart
  apps/siutindei_app/lib/features/organization/screens/organization_screen.dart
  apps/siutindei_app/lib/features/search/screens/search_screen.dart
  apps/siutindei_app/lib/features/search/widgets/activity_card.dart
  apps/siutindei_app/lib/features/search/widgets/search_filters_sheet.dart
  apps/siutindei_app/lib/viewmodels/activities_viewmodel.dart
Due: flutter-analyze

fix: disable IAM authentication on Aurora cluster to fix PAM auth error
  backend/infrastructure/lib/constructs/database.ts
Due: eslint-cdk

docs(siutindei_app): add comprehensive architecture documentation
  apps/siutindei_app/CONTRIBUTING.md
  apps/siutindei_app/README.md
  apps/siutindei_app/docs/core/command.md
  apps/siutindei_app/docs/core/result.md
  apps/siutindei_app/docs/core/widgets.md
  apps/siutindei_app/docs/data/mappers.md
  apps/siutindei_app/docs/data/repositories.md
  apps/siutindei_app/docs/design/customization.md
  apps/siutindei_app/docs/design/json-tokens.md
  apps/siutindei_app/docs/design/tokens.md
  apps/siutindei_app/docs/domain/entities.md
  apps/siutindei_app/docs/domain/repositories.md
  apps/siutindei_app/docs/domain/use_cases.md
  apps/siutindei_app/docs/features/README.md
  apps/siutindei_app/docs/getting-started.md
  apps/siutindei_app/docs/viewmodels/README.md
Due: none

feat(siutindei_app): implement Flutter architecture recommendations
  apps/siutindei_app/README.md
  apps/siutindei_app/docs/architecture-recommendations.md
  apps/siutindei_app/docs/core/cache.md
  apps/siutindei_app/docs/core/di.md
  apps/siutindei_app/docs/core/exceptions.md
  apps/siutindei_app/lib/core/cache/cache.dart
  apps/siutindei_app/lib/core/cache/cache_manager.dart
  apps/siutindei_app/lib/core/core.dart
  apps/siutindei_app/lib/core/di/di.dart
  apps/siutindei_app/lib/core/di/service_locator.dart
  apps/siutindei_app/lib/core/exceptions/app_exceptions.dart
  apps/siutindei_app/lib/core/exceptions/exceptions.dart
  apps/siutindei_app/lib/data/repositories/activity_repository_impl.dart
  apps/siutindei_app/lib/viewmodels/activities_viewmodel.dart
Due: flutter-analyze

Rename EXISTING_ORG_IMAGES_* to EXISTING_ORG_MEDIA_*
  .github/workflows/cdk-diff.yml
  .github/workflows/deploy-backend.yml
  backend/infrastructure/lib/api-stack.ts
Due: eslint-cdk

fix: disable seed data to avoid manager_id NOT NULL violation
  backend/infrastructure/lib/api-stack.ts
Due: eslint-cdk

chore: remove comment
  backend/infrastructure/lib/api-stack.ts
Due: eslint-cdk

fix: resolve Flutter analyze linting errors
  apps/siutindei_app/lib/config/tokens/primitive_tokens.dart
  apps/siutindei_app/lib/config/tokens/token_registry.dart
  apps/siutindei_app/lib/core/cache/cache_manager.dart
  apps/siutindei_app/lib/core/di/service_locator.dart
  apps/siutindei_app/lib/core/exceptions/app_exceptions.dart
  apps/siutindei_app/lib/core/widgets/base_avatar.dart
  apps/siutindei_app/lib/data/data.dart
  apps/siutindei_app/lib/data/repositories/activity_repository_impl.dart
  apps/siutindei_app/lib/domain/domain.dart
  apps/siutindei_app/lib/domain/use_cases/get_activity_use_case.dart
  apps/siutindei_app/lib/domain/use_cases/search_activities_use_case.dart
  apps/siutindei_app/lib/features/activity_detail/screens/activity_detail_screen.dart
  apps/siutindei_app/lib/features/auth/screens/login_screen.dart
  apps/siutindei_app/lib/features/organization/screens/organization_screen.dart
  apps/siutindei_app/lib/features/search/screens/search_screen.dart
  apps/siutindei_app/lib/features/search/widgets/activity_card.dart
  apps/siutindei_app/lib/features/search/widgets/filter_chip_bar.dart
  apps/siutindei_app/lib/viewmodels/activities_viewmodel.dart
Due: flutter-analyze

fix: migrate from StateNotifier to modern Notifier pattern
  apps/siutindei_app/lib/config/tokens/token_registry.dart
  apps/siutindei_app/lib/core/di/service_locator.dart
  apps/siutindei_app/lib/viewmodels/activities_viewmodel.dart
Due: flutter-analyze

fix: replace ProviderOrFamily with ProviderContainer factory
  apps/siutindei_app/lib/core/di/service_locator.dart
Due: flutter-analyze

feat: create seed manager user (test@test.com) for demo data
  backend/db/seed/seed_data.sql
  backend/infrastructure/lib/api-stack.ts
  backend/lambda/migrations/handler.py
Due: eslint-cdk

chore: change seed manager email to test@lx-software.com
  backend/lambda/migrations/handler.py
Due: none

chore: fix docstring email
  backend/lambda/migrations/handler.py
Due: none

fix: use random password for seed manager to avoid Bandit warning
  backend/lambda/migrations/handler.py
Due: none
