Repository lcacchiani/siutindei: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-cdk, flutter-analyze

eslint-cdk:
  name: ESLint CDK
  entry: bash -c 'cd backend/infrastructure && npm run lint --if-present || true'
  language: system
  pass_filenames: false

flutter-analyze:
  name: Flutter Analyze
  entry: bash -c 'cd apps/siutindei_app && flutter analyze --no-fatal-infos || true'
  language: system
  pass_filenames: false

Add suggestion form to manager dashboard
  apps/admin_web/src/components/admin/manager-dashboard.tsx
Due: none

Add missing /v1/user/organization-suggestion API Gateway route
  backend/infrastructure/lib/api-stack.ts
Due: eslint-cdk

Add mandatory endpoint registration rule and fix documentation gaps
  .cursorrules
  docs/api/admin.yaml
  docs/architecture/lambdas.md
Due: none

Review and update all architecture docs, deduplicate endpoint info
  .cursorrules
  docs/architecture/audit-logging.md
  docs/architecture/aws-assets-map.md
  docs/architecture/aws-messaging.md
  docs/architecture/database-schema.md
  docs/architecture/decisions.md
  docs/architecture/lambdas.md
  docs/architecture/organization-suggestions.md
  docs/architecture/overview.md
Due: none

fix: align OpenAPI spec with backend and rename picture to media
  apps/admin_web/src/components/admin/access-request-form.tsx
  apps/admin_web/src/components/admin/suggestion-form.tsx
  apps/admin_web/src/lib/api-client.ts
  docs/api/admin.yaml
Due: none

fix: clean up remaining picture references in docs and search API spec
  backend/src/app/db/models.py
  docs/api/activities-search.yaml
  docs/architecture/database-schema.md
  docs/architecture/organization-suggestions.md
Due: none

feat: add OpenAPI-generated types and type-safe API client
  apps/admin_web/package-lock.json
  apps/admin_web/package.json
  apps/admin_web/src/lib/api-admin-client.ts
  apps/admin_web/src/types/admin.ts
  apps/admin_web/src/types/api-admin.generated.ts
Due: none

docs: add mandatory seed-data assessment rule for database changes
  .cursorrules
Due: none

feat: add required lists to OpenAPI response schemas, remove manual types
  .github/workflows/lint.yml
  apps/admin_web/src/components/admin/audit-logs-panel.tsx
  apps/admin_web/src/components/shared/pricing-panel.tsx
  apps/admin_web/src/lib/api-admin-client.ts
  apps/admin_web/src/types/admin.ts
  apps/admin_web/src/types/api-admin.generated.ts
  docs/api/admin.yaml
Due: none

feat: harden search.yaml and fix Flutter model bugs
  .cursorrules
  .github/workflows/lint.yml
  apps/admin_web/package.json
  apps/admin_web/src/types/api-search.generated.ts
  apps/siutindei_app/docs/data/mappers.md
  apps/siutindei_app/docs/domain/entities.md
  apps/siutindei_app/lib/data/mappers/activity_mapper.dart
  apps/siutindei_app/lib/domain/entities/activity.dart
  apps/siutindei_app/lib/features/activity_detail/screens/activity_detail_screen.dart
  apps/siutindei_app/lib/features/organization/screens/organization_screen.dart
  apps/siutindei_app/lib/features/search/widgets/activity_card.dart
  apps/siutindei_app/lib/models/activity_models.dart
  docs/api/search.yaml
  docs/architecture/aws-assets-map.md
  docs/architecture/code-review-suggestions.md
  docs/architecture/decisions.md
  docs/architecture/overview.md
  scripts/codegen/README.md
Due: flutter-analyze

fix: handle organization_suggestion.submitted events in processor Lambda
  backend/lambda/manager_request_processor/handler.py
  backend/src/app/db/repositories/suggestion.py
  backend/src/app/templates/__init__.py
  backend/src/app/templates/email_templates.py
Due: none

docs: update messaging and lambda docs for suggestion event handling
  docs/architecture/aws-messaging.md
  docs/architecture/lambdas.md
Due: none

feat: add unified tickets table, model, and repository
  backend/db/alembic/versions/0012_unify_tickets.py
  backend/src/app/db/models.py
  backend/src/app/db/repositories/__init__.py
  backend/src/app/db/repositories/ticket.py
Due: none

refactor: unify admin API to use single tickets table
  backend/lambda/manager_request_processor/handler.py
  backend/src/app/api/admin.py
Due: none

feat: merge access requests + suggestions into unified Tickets panel
  apps/admin_web/src/components/admin/admin-dashboard.tsx
  apps/admin_web/src/components/admin/tickets-panel.tsx
  apps/admin_web/src/lib/api-client.ts
  backend/infrastructure/lib/api-stack.ts
Due: eslint-cdk

docs: update OpenAPI spec and architecture docs for unified tickets
  docs/api/admin.yaml
  docs/architecture/aws-messaging.md
  docs/architecture/database-schema.md
  docs/architecture/organization-suggestions.md
Due: none

chore: remove all legacy/backward-compat code
  apps/admin_web/src/components/admin/access-request-form.tsx
  apps/admin_web/src/components/admin/access-requests-panel.tsx
  apps/admin_web/src/components/admin/manager-dashboard.tsx
  apps/admin_web/src/components/admin/organization-suggestions-panel.tsx
  apps/admin_web/src/components/admin/pending-request-notice.tsx
  apps/admin_web/src/components/admin/pending-suggestion-notice.tsx
  apps/admin_web/src/components/admin/suggestion-form.tsx
  apps/admin_web/src/components/admin/user-dashboard.tsx
  apps/admin_web/src/lib/api-client.ts
  apps/admin_web/src/types/admin.ts
  backend/infrastructure/lib/api-stack.ts
  backend/src/app/api/admin.py
  backend/src/app/db/models.py
  backend/src/app/db/repositories/__init__.py
  backend/src/app/db/repositories/access_request.py
  backend/src/app/db/repositories/suggestion.py
  docs/api/admin.yaml
Due: eslint-cdk

chore: generalize ticket system comments and docs
  apps/admin_web/src/components/admin/tickets-panel.tsx
  apps/admin_web/src/lib/api-client.ts
  backend/db/alembic/versions/0012_unify_tickets.py
  backend/infrastructure/lib/api-stack.ts
  backend/lambda/manager_request_processor/handler.py
  backend/src/app/api/admin.py
  backend/src/app/db/models.py
  backend/src/app/db/repositories/ticket.py
  docs/api/admin.yaml
  docs/architecture/aws-messaging.md
  docs/architecture/database-schema.md
  docs/architecture/lambdas.md
  docs/architecture/organization-suggestions.md
Due: eslint-cdk

chore: regenerate OpenAPI types from updated spec
  apps/admin_web/src/types/api-admin.generated.ts
Due: none

style: apply ruff formatting to migration, processor, and admin API
  backend/db/alembic/versions/0012_unify_tickets.py
  backend/lambda/manager_request_processor/handler.py
  backend/src/app/api/admin.py
Due: none

Add optional RDS Data API toggle
  backend/infrastructure/lib/api-stack.ts
  backend/infrastructure/lib/constructs/database.ts
  docs/architecture/setup.md
Due: eslint-cdk

Add Play Integrity dependency
  apps/siutindei_app/android/app/build.gradle.kts
Due: none

Remove record ID from audit logs list
  apps/admin_web/src/components/admin/audit-logs-panel.tsx
Due: none

Rename Cognito Users to Users
  apps/admin_web/e2e/admin-dashboard.spec.ts
  apps/admin_web/e2e/manager-dashboard.spec.ts
  apps/admin_web/src/components/admin/admin-dashboard.tsx
  apps/admin_web/src/components/admin/cognito-users-panel.tsx
Due: none

feat: add address autocomplete using Nominatim (OpenStreetMap)
  apps/admin_web/src/components/admin/suggestion-form.tsx
  apps/admin_web/src/components/shared/locations-panel.tsx
  apps/admin_web/src/components/ui/address-autocomplete.tsx
Due: none

feat: add mandatory country column to locations (default 'Hong Kong')
  apps/admin_web/src/components/shared/locations-panel.tsx
  apps/admin_web/src/components/ui/address-autocomplete.tsx
  apps/admin_web/src/types/api-admin.generated.ts
  apps/admin_web/src/types/api-search.generated.ts
  apps/siutindei_app/lib/data/mappers/activity_mapper.dart
  apps/siutindei_app/lib/domain/entities/activity.dart
  apps/siutindei_app/lib/models/activity_models.dart
  backend/db/alembic/versions/0013_add_loc_country.py
  backend/db/seed/seed_data.sql
  backend/src/app/api/activities_search.py
  backend/src/app/api/admin.py
  backend/src/app/api/schemas.py
  backend/src/app/db/models.py
  backend/src/app/db/repositories/location.py
  docs/api/admin.yaml
  docs/api/search.yaml
  docs/architecture/database-schema.md
Due: flutter-analyze

feat: add geographic_areas table with HK/SG/UAE hierarchies
  backend/db/alembic/versions/0014_add_geo_areas.py
  backend/src/app/db/models.py
  backend/src/app/db/repositories/__init__.py
  backend/src/app/db/repositories/geographic_area.py
Due: none

feat: add areas API routes + update location CRUD for area_id
  backend/src/app/api/activities_search.py
  backend/src/app/api/admin.py
  backend/src/app/api/schemas.py
Due: none

feat: register areas API routes in CDK + update OpenAPI specs + docs
  backend/db/seed/seed_data.sql
  backend/infrastructure/lib/api-stack.ts
  docs/api/admin.yaml
  docs/api/search.yaml
  docs/architecture/database-schema.md
Due: eslint-cdk

feat: cascading area dropdowns + scoped autocomplete in frontend
  apps/admin_web/src/components/admin/suggestion-form.tsx
  apps/admin_web/src/components/shared/locations-panel.tsx
  apps/admin_web/src/components/ui/address-autocomplete.tsx
  apps/admin_web/src/components/ui/cascading-area-select.tsx
  apps/admin_web/src/hooks/use-geographic-areas.ts
  apps/admin_web/src/lib/api-client.ts
  apps/admin_web/src/types/api-admin.generated.ts
  apps/admin_web/src/types/api-search.generated.ts
  apps/siutindei_app/lib/data/mappers/activity_mapper.dart
  apps/siutindei_app/lib/domain/entities/activity.dart
  apps/siutindei_app/lib/models/activity_models.dart
Due: flutter-analyze

refactor: remove district+country backward compat from all layers
  apps/admin_web/src/components/shared/locations-panel.tsx
  apps/admin_web/src/components/shared/pricing-panel.tsx
  apps/admin_web/src/components/shared/schedules-panel.tsx
  apps/admin_web/src/types/api-admin.generated.ts
  apps/admin_web/src/types/api-search.generated.ts
  apps/siutindei_app/lib/config/constants.dart
  apps/siutindei_app/lib/data/mappers/activity_mapper.dart
  apps/siutindei_app/lib/domain/entities/activity.dart
  apps/siutindei_app/lib/domain/entities/search.dart
  apps/siutindei_app/lib/features/search/screens/search_screen.dart
  apps/siutindei_app/lib/features/search/widgets/activity_card.dart
  apps/siutindei_app/lib/features/search/widgets/search_filters_sheet.dart
  apps/siutindei_app/lib/models/activity_models.dart
  backend/db/alembic/versions/0015_drop_loc_dist_ctry.py
  backend/db/seed/seed_data.sql
  backend/infrastructure/lib/api-stack.ts
  backend/src/app/api/activities_search.py
  backend/src/app/api/admin.py
  backend/src/app/api/schemas.py
  backend/src/app/db/models.py
  backend/src/app/db/queries.py
  backend/src/app/db/repositories/location.py
  docs/api/admin.yaml
  docs/api/search.yaml
  docs/architecture/database-schema.md
Due: eslint-cdk, flutter-analyze

feat: config-driven country activation via ActiveCountryCodes
  backend/infrastructure/lib/api-stack.ts
  backend/infrastructure/params/production.json
  backend/lambda/migrations/handler.py
Due: eslint-cdk

fix: resolve pre-commit failures (ruff, mypy, ruff-format)
  backend/db/alembic/versions/0014_add_geo_areas.py
  backend/db/alembic/versions/0015_drop_loc_dist_ctry.py
  backend/lambda/migrations/handler.py
  backend/src/app/api/admin.py
  backend/src/app/db/repositories/geographic_area.py
Due: none

fix: remove last location.district reference in activity detail screen
  apps/siutindei_app/lib/features/activity_detail/screens/activity_detail_screen.dart
Due: flutter-analyze

Reorder location fields and lock country
  apps/admin_web/src/components/admin/suggestion-form.tsx
  apps/admin_web/src/components/shared/locations-panel.tsx
  apps/admin_web/src/components/ui/cascading-area-select.tsx
Due: none

Add organization contact fields and validation
  backend/db/alembic/versions/0016_add_org_contacts.py
  backend/requirements.txt
  backend/src/app/api/admin.py
  backend/src/app/db/models.py
  docs/api/admin.yaml
  docs/architecture/database-schema.md
  tests/test_admin_validation.py
Due: none

Update org panel contact fields
  apps/admin_web/package-lock.json
  apps/admin_web/package.json
  apps/admin_web/src/components/shared/organizations-panel.tsx
  apps/admin_web/src/types/api-admin.generated.ts
Due: none

Rename org little_red_book to xiaohongshu
  backend/db/alembic/versions/0017_rename_org_xiaohongshu.py
  backend/src/app/api/admin.py
  backend/src/app/db/models.py
  docs/api/admin.yaml
  docs/architecture/database-schema.md
Due: none

Rename Little Red Book field in admin UI
  apps/admin_web/src/components/shared/organizations-panel.tsx
  apps/admin_web/src/types/api-admin.generated.ts
Due: none

Label Twitter as X
  apps/admin_web/src/components/shared/organizations-panel.tsx
  apps/admin_web/src/types/api-admin.generated.ts
  docs/api/admin.yaml
Due: none

Path conditions:
  eslint-cdk: any of: ^backend/infrastructure/.*\.(ts|js)$
  flutter-analyze: any of: ^apps/siutindei_app/.*\.dart$
