Repository lcacchiani/siutindei: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-cdk, flutter-analyze

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python formatting and linting with Ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  # Python type checking with mypy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        files: ^backend/src/
        additional_dependencies:
          - pydantic>=2.0
          - sqlalchemy>=2.0
          - types-boto3
        args: [--ignore-missing-imports]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
        exclude: '\.md$'
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-json
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: detect-private-key

  # TypeScript/JavaScript linting
  - repo: local
    hooks:
      - id: eslint-cdk
        name: ESLint CDK
        entry: bash -c 'cd backend/infrastructure && npm run lint --if-present || true'
        language: system
        files: ^backend/infrastructure/.*\.(ts|js)$
        pass_filenames: false

  # Flutter/Dart analysis
  - repo: local
    hooks:
      - id: flutter-analyze
        name: Flutter Analyze
        entry: bash -c 'cd apps/siutindei_app && flutter analyze --no-fatal-infos || true'
        language: system
        files: ^apps/siutindei_app/.*\.dart$
        pass_filenames: false

# Configuration for specific tools
ci:
  autofix_commit_msg: "style: auto-fix by pre-commit hooks"
  autoupdate_commit_msg: "chore: update pre-commit hooks"

infra(public-www): cache public search at the CloudFront edge
  backend/infrastructure/lib/public-www-stack.ts
  backend/infrastructure/params/production.json
Due: eslint-cdk

infra(api): disable API Gateway stage cache cluster
  backend/infrastructure/lib/api-stack.ts
Due: eslint-cdk

Move public search caching from API Gateway cache to the CloudFront edge (#333)
  .cursorrules
  backend/infrastructure/lib/api-stack.ts
  backend/infrastructure/lib/public-www-stack.ts
  backend/infrastructure/params/production.json
  docs/architecture/aws-assets-map.md
  docs/architecture/decisions.md
  docs/architecture/public-www.md
  docs/architecture/security.md
Due: eslint-cdk

ci: route SearchApiProxyOriginDomain parameter to the public-www stack
  .github/workflows/cdk-diff.yml
  .github/workflows/deploy-backend.yml
Due: none

fix(infra): suppress Checkov CKV_AWS_120 on API Gateway stage
  backend/infrastructure/lib/api-stack.ts
  docs/architecture/decisions.md
  docs/architecture/overview.md
Due: eslint-cdk

fix(infra): suppress Checkov CKV_AWS_120 on API Gateway stage (#340)
  backend/infrastructure/lib/api-stack.ts
  docs/architecture/decisions.md
  docs/architecture/overview.md
Due: eslint-cdk

fix(infra): move CKV_AWS_120 suppression to .checkov.yaml skip-check
  backend/infrastructure/.checkov.yaml
  backend/infrastructure/lib/api-stack.ts
  docs/architecture/decisions.md
  docs/architecture/overview.md
Due: eslint-cdk

fix(infra): move CKV_AWS_120 suppression to .checkov.yaml skip-check (#341)
  backend/infrastructure/.checkov.yaml
  backend/infrastructure/lib/api-stack.ts
  docs/architecture/decisions.md
  docs/architecture/overview.md
Due: eslint-cdk

fix(admin_web): bump js-cookie to 3.x to clear GHSA-qjx8-664m-686j
  apps/admin_web/package-lock.json
  apps/admin_web/package.json
Due: none

fix(public_www): bump tmp to >=0.2.6 to clear GHSA-ph9p-34f9-6g65
  apps/public_www/package-lock.json
  apps/public_www/package.json
Due: none

fix(deps): sync Flutter pubspec.lock SDK constraints for Amplify 2.14
  apps/siutindei_app/pubspec.lock
Due: none

fix(deps): rebase riverpod bump and sync pubspec.lock SDK
  apps/siutindei_app/pubspec.lock
Due: none

ci(security): pin GitHub Actions to immutable commit SHAs
  .github/workflows/amplify-promote.yml
  .github/workflows/cdk-bootstrap.yml
  .github/workflows/cdk-diff.yml
  .github/workflows/check-lockfiles.yml
  .github/workflows/deploy-admin-web.yml
  .github/workflows/deploy-backend.yml
  .github/workflows/deploy-ios.yml
  .github/workflows/deploy-mobile.yml
  .github/workflows/deploy-public-www.yml
  .github/workflows/e2e-admin-web.yml
  .github/workflows/lighthouse-public-www.yml
  .github/workflows/lint.yml
  .github/workflows/promote-public-www.yml
  .github/workflows/security.yml
  .github/workflows/smoke-public-www-staging.yml
  .github/workflows/test.yml
  .github/workflows/verify-rulesets.yml
Due: none

ci(security): add 7-day Dependabot cooldown to all ecosystems
  .github/dependabot.yml
Due: none

fix(deps): sync Flutter pubspec.lock with stable 3.47
  apps/siutindei_app/pubspec.lock
Due: none

chore(deps): bump aws-cdk-lib to 2.265.0 for brace-expansion 5.0.9
  backend/infrastructure/package-lock.json
  backend/infrastructure/package.json
Due: none

chore(deps): pin js-yaml 3.15.1 and 4.3.1 in public_www
  apps/public_www/package-lock.json
  apps/public_www/package.json
Due: none

ci: add Dependabot npm updates for public_www and admin_web
  .github/dependabot.yml
Due: none

docs: record High npm vuln handling and Dependabot coverage
  docs/architecture/decisions.md
  docs/architecture/overview.md
  docs/architecture/public-www.md
  docs/architecture/security.md
Due: none

ci(security): move Semgrep OSS to .github/workflows/semgrep.yml
  .github/workflows/security.yml
  .github/workflows/semgrep.yml
  SECURITY.md
  docs/architecture/security.md
Due: none

fix(admin-web): satisfy no-location-assign-relative-destination
  apps/admin_web/src/lib/auth.ts
Due: none

Replace public website legal stubs with PDPO-grade bilingual policies and consent-gated analytics
  apps/public_www/next-env.d.ts
  apps/public_www/public/scripts/init-gtm.js
  apps/public_www/public/scripts/init-meta-pixel.js
  apps/public_www/src/app/[locale]/privacy/page.tsx
  apps/public_www/src/app/[locale]/terms/page.tsx
  apps/public_www/src/app/layout.tsx
  apps/public_www/src/components/sections/legal-page.tsx
  apps/public_www/src/components/shared/analytics-consent-banner.tsx
  apps/public_www/src/content/en.json
  apps/public_www/src/content/zh-HK.json
  apps/public_www/tests/components/analytics-consent-banner.test.tsx
  apps/public_www/tests/components/legal-page.test.tsx
  apps/public_www/tests/lib/legal-content.test.ts
  docs/architecture/public-www.md
  docs/legal/README.md
Due: none

Link Flutter and admin web surfaces to canonical legal pages
  apps/admin_web/e2e/login.spec.ts
  apps/admin_web/src/components/app-shell.tsx
  apps/admin_web/src/components/legal-links.tsx
  apps/admin_web/src/components/login-screen.tsx
  apps/admin_web/src/lib/config.ts
  apps/siutindei_app/analysis_options.yaml
  apps/siutindei_app/lib/config/site_links.dart
  apps/siutindei_app/lib/features/auth/screens/login_screen.dart
  apps/siutindei_app/lib/utils/external_links.dart
  apps/siutindei_app/pubspec.lock
  apps/siutindei_app/pubspec.yaml
Due: flutter-analyze

Add store privacy disclosure drafts and deployment doc pointers
  docs/deployment/android-play-store.md
  docs/deployment/ios-testflight.md
  docs/legal/store-disclosures.md
Due: none

Document ops alarms and add production launch checklist
  docs/architecture/aws-assets-map.md
  docs/architecture/overview.md
  docs/deployment/launch-checklist.md
Due: none

Add ops-alerts SNS topic and CloudWatch alarms for API, Lambdas, Aurora
  backend/infrastructure/lib/api-stack.ts
  backend/infrastructure/lib/constructs/index.ts
  backend/infrastructure/lib/constructs/ops-alarms.ts
  backend/infrastructure/params/production.json
Due: eslint-cdk

Add Aurora backup retention, deletion protection, snapshot tagging
  backend/infrastructure/lib/constructs/database.ts
  backend/infrastructure/scripts/assert-existing-db.ts
Due: eslint-cdk

Inject sitewide WebSite/Organization JSON-LD at build time
  apps/public_www/package.json
  apps/public_www/scripts/inject-structured-data.mjs
  apps/public_www/tests/scripts/inject-structured-data.test.ts
Due: none

Set per-activity document title on activity detail load
  apps/public_www/src/components/pages/activity-detail-page.tsx
Due: none

Update SEO docs and mark resolved remediation items
  docs/architecture/public-www.md
  docs/remediation/public-www-and-api-remediation.md
Due: none

Mark verified remediation items resolved (P0-1, P0-2, P2-1, P2-3, P2-4)
  docs/remediation/public-www-and-api-remediation.md
Due: none

Extend build env contract to enumerate all NEXT_PUBLIC_* vars
  apps/public_www/scripts/assert-build-env-contract.mjs
Due: none

Run staging smoke checks automatically after each public-www deploy
  .github/workflows/deploy-public-www.yml
  docs/architecture/public-www.md
Due: none

feat(public-www): grounded Small World brand palette and planet-mark logo
  apps/public_www/public/images/brand/parent-verified.svg
  apps/public_www/public/images/brand/siutindei-mark.svg
  apps/public_www/src/app/globals.css
  apps/public_www/src/components/sections/footer.tsx
  apps/public_www/src/components/sections/navbar.tsx
Due: none

feat(public-www): immersive Small World hero, tactile category tiles, Parent-Verified badges, sparkle cursor
  apps/public_www/package-lock.json
  apps/public_www/package.json
  apps/public_www/public/images/categories/class.svg
  apps/public_www/public/images/categories/indoor.svg
  apps/public_www/public/images/categories/outdoor.svg
  apps/public_www/public/images/categories/workshop.svg
  apps/public_www/public/images/small-world/bubble-ferry.svg
  apps/public_www/public/images/small-world/bubble-peak.svg
  apps/public_www/public/images/small-world/bubble-tram.svg
  apps/public_www/src/app/[locale]/layout.tsx
  apps/public_www/src/components/pages/discovery-home-page.tsx
  apps/public_www/src/components/pages/search-results-page.tsx
  apps/public_www/src/components/sections/discovery/category-tiles.tsx
  apps/public_www/src/components/sections/discovery/discovery-home-section.tsx
  apps/public_www/src/components/sections/hero/hero-search-bar.tsx
  apps/public_www/src/components/sections/hero/small-world-hero.tsx
  apps/public_www/src/components/sections/hero/small-world-scene.tsx
  apps/public_www/src/components/sections/listings/listing-card.tsx
  apps/public_www/src/components/sections/listings/listing-carousel-section.tsx
  apps/public_www/src/components/sections/listings/listing-grid.tsx
  apps/public_www/src/components/shared/sparkle-cursor.tsx
  apps/public_www/src/content/en.json
  apps/public_www/src/content/zh-HK.json
  apps/public_www/src/lib/small-world/scene.ts
Due: none

test(public-www): cover Small World hero, category tiles, sparkle cursor; update architecture doc
  apps/public_www/tests/app/page.test.tsx
  apps/public_www/tests/components/category-tiles.test.tsx
  apps/public_www/tests/components/small-world-hero.test.tsx
  apps/public_www/tests/components/sparkle-cursor.test.tsx
  docs/architecture/public-www.md
Due: none

polish(public-www): balance hero headline wrapping, tune sparkle trail visibility
  apps/public_www/src/components/sections/hero/small-world-hero.tsx
  apps/public_www/src/components/shared/sparkle-cursor.tsx
Due: none

feat(public-www): rebrand on logo yellow palette, Aero BC display titles, kawaii outline icon set
  apps/public_www/public/images/categories/class.svg
  apps/public_www/public/images/categories/indoor.svg
  apps/public_www/public/images/categories/outdoor.svg
  apps/public_www/public/images/categories/workshop.svg
  apps/public_www/public/images/small-world/bubble-ferry.svg
  apps/public_www/public/images/small-world/bubble-peak.svg
  apps/public_www/public/images/small-world/bubble-tram.svg
  apps/public_www/src/app/globals.css
  apps/public_www/src/components/pages/activity-detail-page.tsx
  apps/public_www/src/components/sections/footer.tsx
  apps/public_www/src/components/sections/hero/hero-search-bar.tsx
  apps/public_www/src/components/sections/hero/small-world-hero.tsx
  apps/public_www/src/components/sections/navbar-language-switcher.tsx
  apps/public_www/src/components/sections/navbar.tsx
  apps/public_www/src/components/sections/search/search-bar-compact.tsx
  apps/public_www/src/components/shared/analytics-consent-banner.tsx
  apps/public_www/src/components/shared/sparkle-cursor.tsx
  apps/public_www/src/components/shared/static-locale-redirect.tsx
  apps/public_www/src/components/shared/status-page.tsx
  apps/public_www/src/components/shared/ui/button.tsx
  apps/public_www/src/components/shared/whatsapp-fab.tsx
  apps/public_www/src/lib/small-world/scene.ts
  docs/architecture/public-www.md
Due: none
